.newsletter-container {
    display: grid;
    justify-content: center;
    .newsletter-header {
        h3 {
            text-align: center;
            padding-bottom: 3rem;
        }
    }
    .newsletter {
        margin: 0 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        // grid-gap: 0.5rem;
        border: solid rgba(119, 0, 255, 0.4) 0.1rem;
        border-radius: 0.5rem;
        &:hover {
            border: solid rgb(119, 0, 255) 0.1rem;
        }
        svg {
            align-self: center;
            padding: 0 0.5rem;
        }
        .email-input {
            padding: 0.75rem;
            margin-right: 0.5rem;
            font-size: 1.1rem;
            width: 95%;
            border: none;
        }
    }
}
